In [1]:
# Have to install janitor package to run. Not included in anaconda.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math as math
import janitor

In [2]:
exec(open("../header.py").read())

# Purpose

To replicate and then test out Boone and White (2015).

# Header

# Import raw data

In [23]:
sample = False

In [5]:
raw_crsp = pd.read_csv("data.csv", parse_dates = ['date'])

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (2,8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
raw_crsp.head(5)

,PERMNO,date,SICCD,TICKER,NAICS,PERMCO,PRC,VOL,RET,BID,ASK,SHROUT,ewretd
0,10001,1994-01-03,4920,EWST,NaN,7953,17.750,4791.0,-0.034014,17.75,18.0,1091.0,0.003510
1,10001,1994-01-04,4920,EWST,NaN,7953,17.500,2000.0,-0.014085,17.25,18.0,1091.0,0.006372
2,10001,1994-01-05,4920,EWST,NaN,7953,18.000,800.0,0.028571,17.25,18.0,1091.0,0.005785
3,10001,1994-01-06,4920,EWST,NaN,7953,17.250,675.0,-0.041667,17.25,18.0,1091.0,0.002806
4,10001,1994-01-07,4920,EWST,NaN,7953,17.875,4200.0,0.036232,17.25,18.0,1091.0,0.005166

# Clean data

In [14]:
cleaned_crsp = raw_crsp\
    .clean_names()\
    .loc[lambda x:(x.date >= '1996-01-01')&(x.date <= '2006-12-31')]\
    .assign(mktcap = lambda x: x.prc * x.shrout)\
    .assign(year = lambda x:x.date.dt.year)

In [17]:
cleaned_crsp['date'].dt.year

504         1996
505         1996
506         1996
507         1996
508         1996
            ...
27927539    2000
27927540    2000
27927541    2000
27927542    2000
27927543    2000
Name: date, Length: 21984131, dtype: int64

In [20]:
cleaned_crsp['ranks'] = cleaned_crsp\
    .groupby('date', as_index = False)['mktcap']\
    .transform(lambda x:x.rank(ascending = False))

In [22]:
cleaned_data.head(5)

,permno,date,siccd,ticker,naics,permco,prc,vol,ret,bid,ask,shrout,ewretd,mktcap,ranks
504,10001,1996-01-02,4920,EWST,NaN,7953,-9.125,0.0,-0.026667,8.75,9.5,2281.0,0.010979,-20814.125,8182.0
505,10001,1996-01-03,4920,EWST,NaN,7953,9.500,119.0,0.041096,8.75,9.5,2281.0,0.005154,21669.500,6429.0
506,10001,1996-01-04,4920,EWST,NaN,7953,-9.125,0.0,-0.039474,8.75,9.5,2281.0,-0.005707,-20814.125,8143.0
507,10001,1996-01-05,4920,EWST,NaN,7953,8.750,1384.0,-0.041096,8.75,9.5,2281.0,0.005605,19958.750,6550.0
508,10001,1996-01-08,4920,EWST,NaN,7953,8.750,1000.0,0.000000,8.75,9.5,2281.0,0.003672,19958.750,6051.0

In [12]:
print(f"Old shape: {raw_data.shape}")
print(f"New shape: {cleaned_data.shape}")

Old shape: (27927544, 13)
New shape: (21984131, 13)

# Save cleaned datsets

In [ ]:
cleaned_data.to_csv()